h2, label{
 color:#0086b3;
}

label{
	font-size:21px;
	width:25%;
}
input,select{
	width:25%;
	height:40px;
}

.info_section{
	height:60px;
}

.logo{
	font-size:23px;
}

.jumbotron p{
 font-size:28px;
 color: #337ab7;
 font-weight: bold;
 
}
.container{
	width:100%;
}