h2, label{
 color:#0086b3;
}

label{
	font-size:19px;
	width:25%;
	display:block !important;
	margin-bottom:0;
}
select{
	height:30px;

}
input,select{
	width:25%;
}
input{
	height:25px;
}

.info_section{
	margin-bottom:20px;
}

.logo{
	font-size:23px;
}

.jumbotron p{
 font-size:28px;
 color: #337ab7;
 font-weight: bold;
 
}
.container{
	width:100%;
}
.dropdown-toggle{
	width:25% !important;
	height:30px;
}